* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
	background-color: #c4c4c4;
	font-size: 16px;
	line-height: 30px;
}
.container {
	max-width: 1040px;
	margin: 40px auto;
	padding: 0 20px;
}
h1 {
	font-size: 32px;
	margin: 0 0 20px 0;
	text-align: center;
}
.css-slider {
	position: relative;
	width: 600px;
	height: 400px;
	border-radius: 5px;
	margin: 20px auto;
	padding: 20px 30px;
	background-color: #404040;

}
.css-slider__container {
}
.css-slider input {
	display: none;
}
.css-slider__images {
	display: flex;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.css-slider__image {
	flex: 0 0 100%;
	border-radius: 5px;
	/* height: 300px; */
	opacity: 0;
	transition: opacity 1.5s, margin-left 1s;
}

.css-slider__image img {
	display: block;
	border-radius: 5px;
	/* max-width: 100%;
	height: auto; */

	width: 100%;
	height: 100%;
	object-fit: cover;
}

input#bullet-1:checked ~ .css-slider__images #img-1,
input#bullet-2:checked ~ .css-slider__images #img-2,
input#bullet-3:checked ~ .css-slider__images #img-3,
input#bullet-4:checked ~ .css-slider__images #img-4 {
	opacity: 1;
}

input#bullet-1:checked ~ .css-slider__images #img-1 {
	margin-left: 0%;
	}
input#bullet-2:checked ~ .css-slider__images #img-2 {
	margin-left: -100%;
	}
input#bullet-3:checked ~ .css-slider__images #img-3 {
	margin-left: -200%;
}
input#bullet-4:checked ~ .css-slider__images #img-4 {
	margin-left: -300%;
	}

/* input#bullet-1:checked ~ #img-1,
input#bullet-2:checked ~ #img-2,
input#bullet-3:checked ~ #img-3,
input#bullet-4:checked ~ #img-4 {
	opacity: 1;
}

input#bullet-1:checked ~ #img-1 {
	margin-left: 0%;
}
input#bullet-2:checked ~ #img-2 {
	margin-left: -100%;
}
input#bullet-3:checked ~ #img-3 {
	margin-left: -200%;
}
input#bullet-4:checked ~ #img-4 {
	margin-left: -300%;
} */

/* ============================= */
.css-slider__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.css-slider__subtitls {
	flex: 0 0 80%;
	height: 70px;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	color: #fff;
	overflow: hidden;
}
.css-slider__subtitle {
	font-size: 16px;
	line-height: 50px;
	width: 100%;
	opacity: 0;
	transition: opacity 1.5s, margin 0s;
}
.css-slider__pagination {
	flex: 0 1 20%;
	display: flex;
	justify-content: space-between;
}

.nav-btn{
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 10px 4px;
	padding: 4px;
	cursor: pointer;
}

input#bullet-1:checked ~ .css-slider__row .css-slider__subtitle--1,
input#bullet-2:checked ~ .css-slider__row .css-slider__subtitle--2,
input#bullet-3:checked ~ .css-slider__row .css-slider__subtitle--3,
input#bullet-4:checked ~ .css-slider__row .css-slider__subtitle--4 {
	opacity: 1;
}

input#bullet-1:checked ~ .css-slider__row .css-slider__subtitle--1 {
	margin-top: 0px;
}
input#bullet-2:checked ~ .css-slider__row .css-slider__subtitle--2 {
	margin-top: -50px;
}
input#bullet-3:checked ~ .css-slider__row .css-slider__subtitle--3 {
	margin-top: -100px;
}
input#bullet-4:checked ~ .css-slider__row .css-slider__subtitle--4 {
	margin-top: -150px;
}

input#bullet-1:checked .nav-btns label.nav-btn--1,
input#bullet-2:checked .nav-btns label.nav-btn--2,
input#bullet-3:checked .nav-btns label.nav-btn--3,
input#bullet-4:checked .nav-btns label.nav-btn--4 {
	/* background: rgba(0, 0, 0, 0.8); */
	background: #900;
}

/* ========= v-1 ========== */
.css-slider__buttons {
	display: none;
	display: flex;
	justify-content: space-between;
}
.css-slider__btn {
	display: none;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	border-radius: 50%;
	background-color: grey;
	height: 18px;
	width: 18px;

	transition: 0.3s;
}
.css-slider__btn:hover {
	background-color: #900;
}
.css-slider__btn:active{
	background-color: #fff;
}
/* для этого используются радиокнопки и сложные селекторы */
/* ====== media ====== */
@media (max-width:767px){
}
@media (max-width:420px){
}