html, body {
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
	background-color: #c4c4c4;
	font-size: 16px;
	line-height: 1.4;
	color: #2d2f31;
}
.container {
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 20px;
}
h1 {
	font-size: 28px;
	margin: 20px 0;
	text-align: center;
}
.css-slider {
	position: relative;
	max-width: 650px;
	height: 430px;
	border-radius: 5px;
	margin: 0 auto 20px auto;
	padding: 30px 30px;
	background-color: #404040;
	overflow: hidden;
}
.css-slider__container {
}
.css-slider input {
	display: none;
}
.css-slider__images {
	display: flex;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.css-slider__image {
	flex: 0 0 100%;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 1.5s, margin-left 1s;
}

.css-slider__image img {
	display: block;
	border-radius: 5px;
	/* max-width: 100%;
	height: auto; */

	width: 100%;
	height: 100%;
	object-fit: cover;
}

input#bullet-1:checked ~ .css-slider__images #img-1,
input#bullet-2:checked ~ .css-slider__images #img-2,
input#bullet-3:checked ~ .css-slider__images #img-3,
input#bullet-4:checked ~ .css-slider__images #img-4 {
	opacity: 1;
}

input#bullet-1:checked ~ .css-slider__images #img-1 {
	margin-left: 0%;
	}
input#bullet-2:checked ~ .css-slider__images #img-2 {
	margin-left: -100%;
	}
input#bullet-3:checked ~ .css-slider__images #img-3 {
	margin-left: -200%;
}
input#bullet-4:checked ~ .css-slider__images #img-4 {
	margin-left: -300%;
	}

/* ============================= */
.css-slider__row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 15px 0 0 0;
}
.css-slider__subtitls {
	flex: 0 0 80%;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px 0 0;
	color: #fff;
	overflow: hidden;
}
.css-slider__subtitle {
	height: 70px;
	font-size: 18px;
	line-height: 1.6;
	width: 100%;
	opacity: 0;
	padding: 5px 0 0 0;

	transition: opacity 2s ease-in-out, margin 0s;
}

input#bullet-1:checked ~ .css-slider__row .css-slider__subtitle--1,
input#bullet-2:checked ~ .css-slider__row .css-slider__subtitle--2,
input#bullet-3:checked ~ .css-slider__row .css-slider__subtitle--3,
input#bullet-4:checked ~ .css-slider__row .css-slider__subtitle--4 {
	opacity: 1;
}

input#bullet-1:checked ~ .css-slider__row .css-slider__subtitle--1 {
	margin-top: 0px;
}
input#bullet-2:checked ~ .css-slider__row .css-slider__subtitle--2 {
	margin-top: -70px;
}
input#bullet-3:checked ~ .css-slider__row .css-slider__subtitle--3 {
	margin-top: -140px;
}
input#bullet-4:checked ~ .css-slider__row .css-slider__subtitle--4 {
	margin-top: -210px;
}
/* ====== navigation ====== */
.css-slider__pagination {
	flex: 0 1 20%;
	display: flex;
	justify-content: space-between;
}
.css-slider__row .nav-btn{
	height: 18px;
	width: 18px;
	border-radius: 50%;
	margin: 10px 4px;
	padding: 4px;
	background-color: #4deeee;
	border: 2px solid #4deeee;
	cursor: pointer;
}

/* увеличиваем обалсть нажатия кнопки */
.css-slider__row .nav-btn:before {
	display: block;
	position: relative;
	top: -10px;
	left: -10px;
	content: "";
	width: 30px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
}
.css-slider__row .nav-btn:hover {
	background-color: #fff;
	border: 2px solid #fff;
}
.css-slider__row .nav-btn:active {
	background-color: transparent;
	border: 2px solid #fff;
}

input#bullet-1:checked ~ .css-slider__row .nav-btn--1,
input#bullet-2:checked ~ .css-slider__row .nav-btn--2,
input#bullet-3:checked ~ .css-slider__row .nav-btn--3,
input#bullet-4:checked ~ .css-slider__row .nav-btn--4 {
	background-color: transparent;
	border: 2px solid #4deeee;
}
input#bullet-1:checked ~ .css-slider__row .nav-btn--1:hover,
input#bullet-2:checked ~ .css-slider__row .nav-btn--2:hover,
input#bullet-3:checked ~ .css-slider__row .nav-btn--3:hover,
input#bullet-4:checked ~ .css-slider__row .nav-btn--4:hover {
	border: 2px solid #fff;
}

/* ========= v-1 ========== */
.css-slider__buttons {
	display: none;
	display: flex;
	justify-content: space-between;
}
.css-slider__btn {
	display: none;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	border-radius: 50%;
	background-color: grey;
	height: 18px;
	width: 18px;

	transition: 0.3s;
}
.css-slider__btn:hover {
	background-color: #900;
}
.css-slider__btn:active{
	background-color: #fff;
}
/* ---footer--- */
.footer {
	background-color: #4deeee;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer__links a {
  display: inline-block;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	color: #2d2f31;
}

.footer__link-rss img {
  width: 80px;
}

.footer__link-github span {
  position: relative;
  top: 6px;

  display: inline-block;
  width: 25px;
  height: 25px;
}

.footer__link-github img {
  max-width: 100%;
}

/* ---/footer--- */
/* ====== media ====== */
@media (max-width:768px){
	.container {
		max-width: 768px;
		padding: 0 15px;
	}
	h1 {
		font-size: 24px;
		margin: 0 0 15px 0;
	}
	.css-slider {
		height: 450px;
		padding: 20px 20px;
	}

	.css-slider__row {
		flex-direction: column-reverse;
		align-items: center;
	}
	.css-slider__subtitle{
		font-size: 16px;
	}
	.footer__links {
    padding: 15px 0;
  }
  .footer__link-rss img {
    width: 60px;
  }
  .footer__link-github span {
    width: 20px;
    height: 20px;
  }
}

@media (max-width:460px){
	.css-slider__images {
		height: 270px;
	}
}